<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393079541274-tgsppn0u3sakjr7gb71hk4hae3e231ml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393079541274-tgsppn0u3sakjr7gb71hk4hae3e231ml</string>
	<key>API_KEY</key>
	<string>AIzaSyBYismBZ82Xim0M1fRWSMWg9EqlmW2rY9g</string>
	<key>GCM_SENDER_ID</key>
	<string>393079541274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Neosoft.SwiftUIDemo</string>
	<key>PROJECT_ID</key>
	<string>swiftuidemo-812f1</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuidemo-812f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393079541274:ios:b18ba467a2d3bec5530ba3</string>
	<key>DATABASE_URL</key>
	<string>https://swiftuidemo-812f1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>